
#calculator{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 700px;
    height: 500px;
    position:absolute;
    margin: auto;
}
#btnC{
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 105px;
}
#textField{
    position: absolute;
    left: 110px;
    top: 0;
    width: 585px;
    height: 100px;
    border: solid blue;
}
#btnArea{
    width: 700px;
    height:400px ;
    position: absolute;
    left: 0;
    right: 0;
    top: 110px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    column-gap: 7px;
    row-gap: 7px;
}